{
  "openapi": "3.0.1",
  "info": {
    "description": "Quantification Analytics Tool",
    "license": {
      "name": "Apache License Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "title": "QAT",
    "version": "2.92"
  },
  "servers": [
    {
      "url": "https://api.quantificationanalytics.org",
      "description": "Production server for QAT"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "description": "Manage supply plan programs with support for planning units, procurement agents, and realm-based access control",
      "name": "Program"
    },
    {
      "description": "Manages funding sources and their types",
      "name": "Funding Source"
    },
    {
      "description": "Manage measurement units with dimension-based categorization",
      "name": "Unit"
    },
    {
      "description": "Manages health area definitions",
      "name": "Health Area"
    },
    {
      "description": "Manage forecast calculation methods and their configuration parameters",
      "name": "Forecast Method"
    },
    {
      "description": "Manage master data for forecasting system configuration",
      "name": "Master Data"
    },
    {
      "description": "Manage integration programs with support for manual JSON pushes and program-specific data synchronization",
      "name": "Integration Program"
    },
    {
      "description": "Manage tree templates with branch-specific configurations",
      "name": "Tree template"
    },
    {
      "description": "Manage Jira Service Desk tickets and their attachments",
      "name": "Jira Service Desk"
    },
    {
      "description": "Manage planning units with support for capacity tracking",
      "name": "Planning Unit"
    },
    {
      "description": "Manage region entities within the system",
      "name": "Region"
    },
    {
      "description": "Export Order IDs to CSV",
      "name": "Export Order IDs"
    },
    {
      "description": "Manage product categories with hierarchical structure and program-specific filtering",
      "name": "Product Category"
    },
    {
      "description": "Manage forecast data imports from Quantimed with program-specific validation",
      "name": "Quantimed Import"
    },
    {
      "description": "Manage system documentation file uploads",
      "name": "User manual"
    },
    {
      "description": "Manage statistical forecasting operations including ARIMA models, triple exponential smoothing, and regression analysis",
      "name": "Forecasting Statistics"
    },
    {
      "description": "Manage program data with version control, consumption tracking, and shipment synchronization",
      "name": "Program Data"
    },
    {
      "description": "Manage usage periods with active status filtering",
      "name": "Usage period"
    },
    {
      "description": "Export Programs to CSV",
      "name": "Export Programs"
    },
    {
      "description": "Manage data source type configurations with realm-based filtering",
      "name": "Data Source Type"
    },
    {
      "description": "Handles file downloads for QAT-related resources.",
      "name": "File"
    },
    {
      "description": "Manage realm entities within the system",
      "name": "Realm"
    },
    {
      "description": "Manage system problems and issues with support for manual entries and realm-based reporting",
      "name": "Problem"
    },
    {
      "description": "Export Supply Plan to JSON",
      "name": "Export Supply Plan"
    },
    {
      "description": "Get dashboard metrics across different administrative levels",
      "name": "Dashboard"
    },
    {
      "description": "Manage system languages and localization settings",
      "name": "Language"
    },
    {
      "description": "Manage system reports including consumption, inventory, shipment, stock status, and forecast analytics",
      "name": "Reports"
    },
    {
      "description": "Manage equivalency units and their mappings",
      "name": "Equivalency Unit"
    },
    {
      "description": "Manage tracer categories with realm and program-specific filtering",
      "name": "Tracer category"
    },
    {
      "description": "Manage organization type classifications with realm-based filtering",
      "name": "Organisation Type"
    },
    {
      "description": "Manage modeling configurations that control system calculation and processing behaviour",
      "name": "Modeling Type"
    },
    {
      "description": "Label Management for FASP",
      "name": "Label"
    },
    {
      "description": "Export Shipment Linking to CSV",
      "name": "Export Shipment Linking"
    },
    {
      "description": "Manage procurement agents and their types",
      "name": "Procurement Agent"
    },
    {
      "description": "Import Shipment Data from ARTMIS",
      "name": "Import Shipment Data"
    },
    {
      "description": "Manage pipeline data including programs, shipments, consumption, inventory, and funding sources",
      "name": "Pipeline"
    },
    {
      "description": "Manage users, authentication, roles and access controls",
      "name": "User"
    },
    {
      "description": "Test endpoints for ACL permissions and email functionality",
      "name": "Test"
    },
    {
      "description": "Manage data synchronization and master data updates across the system",
      "name": "Sync"
    },
    {
      "description": "Manage supply plan generation and batch processing",
      "name": "Supply plan"
    },
    {
      "description": "Manage datasets and their versions",
      "name": "Dataset"
    },
    {
      "description": "Manage version control requests",
      "name": "Commit Request"
    },
    {
      "description": "Manage organizations with realm-based access control",
      "name": "Organisation"
    },
    {
      "description": "Manage procurement units with support for realm and planning unit based filtering",
      "name": "Procurement Unit"
    },
    {
      "description": "Manages program budgets for a realm",
      "name": "Budget"
    },
    {
      "description": "Manages forecasting units with realm-based access control.",
      "name": "Forecasting Unit"
    },
    {
      "description": "Manage supplier data with realm-specific access control",
      "name": "Supplier"
    },
    {
      "description": "Manage system currencies",
      "name": "Currency"
    },
    {
      "description": "Manage system dimensions",
      "name": "Dimension"
    },
    {
      "description": "JWT Authentication for theFASP API",
      "name": "JWT Authentication"
    },
    {
      "description": "Manage realm country assignments and their associated planning units",
      "name": "Realm Country"
    },
    {
      "description": "Manage country records",
      "name": "Country"
    },
    {
      "description": "Import Product Catalogue from ARTMIS",
      "name": "Import Product Catalogue"
    },
    {
      "description": "Manage data sources with filtering by realm, program, and source type",
      "name": "Data Source"
    },
    {
      "description": "Provide filtered dropdown data for UI components across programs, planning units, and other system entities",
      "name": "Dropdowns"
    },
    {
      "description": "Manage usage templates with tracer category filtering",
      "name": "Usage template"
    },
    {
      "description": "Export supply plan data",
      "name": "Export API"
    },
    {
      "description": "Manages integration configurations and mappings.",
      "name": "Integration"
    }
  ],
  "paths": {
    "/api/budget": {
      "get": {
        "description": "Retrieve a complete list of all budgets",
        "operationId": "getBudget_1",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget_ReportView"
                  }
                }
              }
            },
            "description": "Returns the complete list of budgets"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the budget list"
          }
        },
        "summary": "Get Budgets",
        "tags": [
          "Budget"
        ]
      },
      "post": {
        "description": "Create a new budget for the realm",
        "operationId": "postBudget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Budget"
              }
            }
          },
          "description": "The budget to create",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success code"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have access to the funding source or currency referenced by the budget"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the funding source or currency referenced by the budget"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Duplicate key error that prevented the creation of the budget"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the creation of the budget"
          }
        },
        "summary": "Add Budget",
        "tags": [
          "Budget"
        ]
      },
      "put": {
        "description": "Update an existing budget for a realm",
        "operationId": "putBudget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Budget"
              }
            }
          },
          "description": "The budget to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success code"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have access to the funding source or currency referenced by the budget"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the funding source or currency referenced by the budget"
          },
          "409": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "There was a conflict that prevented the update of the budget"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the budget"
          }
        },
        "summary": "Update Budget",
        "tags": [
          "Budget"
        ]
      }
    },
    "/api/budget/programIds": {
      "post": {
        "description": "Retrieve a list of budgets for a given list of program IDs",
        "operationId": "getBudget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "description": "The list of program IDs to retrieve budgets for",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget_ReportView"
                  }
                }
              }
            },
            "description": "Returns the list of budgets for the given program IDs"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the budget list"
          }
        },
        "summary": "Get Budgets by Programs",
        "tags": [
          "Budget"
        ]
      }
    },
    "/api/budget/realmId/{realmId}": {
      "get": {
        "description": "Retrieve a list of budgets for a given realm",
        "operationId": "getBudgetForRealm",
        "parameters": [
          {
            "description": "The ID of the realm to retrieve budgets for",
            "in": "path",
            "name": "realmId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget_ReportView"
                  }
                }
              }
            },
            "description": "Returns the list of budgets for the given realm"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "The user does not have access to the budget list for the given realm"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Unable to find the budget list for the given realm"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the budget list"
          }
        },
        "summary": "Get Budgets by Realm",
        "tags": [
          "Budget"
        ]
      }
    },
    "/api/budget/{budgetId}": {
      "get": {
        "description": "Retrieve a specific budget by its ID",
        "operationId": "getBudget_2",
        "parameters": [
          {
            "description": "The ID of the budget to retrieve",
            "in": "path",
            "name": "budgetId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            },
            "description": "Returns the specific budget by its ID"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have access to the budget"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the budget by its ID"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the budget"
          }
        },
        "summary": "Get Budget",
        "tags": [
          "Budget"
        ]
      }
    },
    "/api/businessFunction": {
      "get": {
        "description": "Get business function list",
        "operationId": "getBusinessFunctionList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessFunction"
                  }
                }
              }
            },
            "description": "Returns the business function list"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error while getting the business function list"
          }
        },
        "summary": "Get business function list",
        "tags": [
          "User"
        ]
      }
    },
    "/api/commit/datasetData/{comparedVersionId}": {
      "put": {
        "description": "Update the Dataset data for a given version ID",
        "operationId": "putDatasetData",
        "parameters": [
          {
            "description": "The ID of the version to compare against",
            "in": "path",
            "name": "comparedVersionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "description": "Returns the ID of the commit request"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have access to the dataset data"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the dataset data for the given version ID"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "A commit request already exists for the program"
          },
          "409": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Conflict that prevented the update of the dataset data"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the dataset data"
          }
        },
        "summary": "Update Dataset Data",
        "tags": [
          "Commit Request"
        ]
      }
    },
    "/api/commit/getCommitRequest/{requestStatus}": {
      "post": {
        "description": "Retrieve a list of Supply Plan or Dataset Commit Requests based on the provided criteria",
        "operationId": "getProgramDataCommitRequest",
        "parameters": [
          {
            "description": "The status of the commit request to retrieve",
            "in": "path",
            "name": "requestStatus",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitRequestInput"
              }
            }
          },
          "description": "The criteria for retrieving commit requests",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitRequest"
                  }
                }
              }
            },
            "description": "Returns the list of commit requests based on the provided criteria"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have access to the commit request list"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the commit request list"
          }
        },
        "summary": "Get Commit Requests",
        "tags": [
          "Commit Request"
        ]
      }
    },
    "/api/commit/programData/{comparedVersionId}": {
      "put": {
        "description": "Update the Supply Plan Program data for a given version ID",
        "operationId": "putProgramData",
        "parameters": [
          {
            "description": "The ID of the version to compare against",
            "in": "path",
            "name": "comparedVersionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The program data to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "description": "Returns the ID of the commit request"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have access to the program data"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the program data for the given version ID"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "A commit request already exists for the program"
          },
          "409": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Conflict that prevented the update of the program data"
          },
          "412": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the program data"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the program data"
          }
        },
        "summary": "Update Supply Plan Program Data",
        "tags": [
          "Commit Request"
        ]
      }
    },
    "/api/commit/sendNotification/{commitRequestId}": {
      "get": {
        "description": "Send a notification for a Commit Request once it is processed successfully",
        "operationId": "sendNotification",
        "parameters": [
          {
            "description": "The ID of the commit request to send a notification for",
            "in": "path",
            "name": "commitRequestId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitRequest"
                }
              }
            },
            "description": "Returns the status of the commit request"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the commit request status"
          }
        },
        "summary": "Send Notification",
        "tags": [
          "Commit Request"
        ]
      }
    },
    "/api/country": {
      "get": {
        "description": "Retrieve a complete list of active countries",
        "operationId": "getCountryList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            },
            "description": "Returns the list of active countries"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the country list"
          }
        },
        "summary": "Get Active Countries",
        "tags": [
          "Country"
        ]
      },
      "post": {
        "description": "Create a new country",
        "operationId": "addCountry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              }
            }
          },
          "description": "The country to create",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success response"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The country already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the creation of the country"
          }
        },
        "summary": "Add Country",
        "tags": [
          "Country"
        ]
      },
      "put": {
        "description": "Update an existing country",
        "operationId": "editCountry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              }
            }
          },
          "description": "The country to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The country already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the country"
          }
        },
        "summary": "Update Country",
        "tags": [
          "Country"
        ]
      }
    },
    "/api/country/all": {
      "get": {
        "description": "Retrieve a complete list of all countries",
        "operationId": "getCountryListAll",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            },
            "description": "Returns the list of all countries"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the country list"
          }
        },
        "summary": "Get All Countries",
        "tags": [
          "Country"
        ]
      }
    },
    "/api/country/{countryId}": {
      "get": {
        "description": "Retrieve a country by its ID",
        "operationId": "getCountryById",
        "parameters": [
          {
            "description": "The ID of the country to retrieve",
            "in": "path",
            "name": "countryId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            },
            "description": "Returns the country with the given ID"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the country with the given ID"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the country"
          }
        },
        "summary": "Get Country",
        "tags": [
          "Country"
        ]
      }
    },
    "/api/currency": {
      "get": {
        "description": "Retrieve a complete list of active currencies",
        "operationId": "getCurrencyList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            },
            "description": "Returns the list of active currencies"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the currency list"
          }
        },
        "summary": "Get Active Currency List",
        "tags": [
          "Currency"
        ]
      },
      "post": {
        "description": "Create a new currency",
        "operationId": "addCurrency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Currency"
              }
            }
          },
          "description": "The currency to create",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The currency already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the creation of the currency"
          }
        },
        "summary": "Add Currency",
        "tags": [
          "Currency"
        ]
      },
      "put": {
        "description": "Update an existing currency",
        "operationId": "editCurrency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Currency"
              }
            }
          },
          "description": "The currency to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The currency already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the currency"
          }
        },
        "summary": "Update Currency",
        "tags": [
          "Currency"
        ]
      }
    },
    "/api/currency/all": {
      "get": {
        "description": "Retrieve a complete list of all currencies (active and disabled)",
        "operationId": "getCurrencyListAll",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            },
            "description": "Returns the list of all currencies"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the currency list"
          }
        },
        "summary": "Get All Currencies",
        "tags": [
          "Currency"
        ]
      }
    },
    "/api/currency/{currencyId}": {
      "get": {
        "description": "Retrieve a currency by its ID",
        "operationId": "getCurrencyList_1",
        "parameters": [
          {
            "description": "The ID of the currency to retrieve",
            "in": "path",
            "name": "currencyId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            },
            "description": "Returns the currency with the given ID"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The currency with the given ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the currency"
          }
        },
        "summary": "Get Currency",
        "tags": [
          "Currency"
        ]
      }
    },
    "/api/dashboard/applicationLevel": {
      "get": {
        "description": "Retrieve a dashboard summary for application-level administrators",
        "operationId": "applicationLevelDashboard",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Returns the dashboard summary for application-level administrators"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dashboard summary"
          }
        },
        "summary": "Get Application Level Dashboard",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/applicationLevel/userList": {
      "get": {
        "description": "Retrieve a list of users for application-level administrators",
        "operationId": "applicationLevelDashboardUserList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DashboardUser"
                  }
                }
              }
            },
            "description": "Returns the list of users for application-level administrators"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the user list"
          }
        },
        "summary": "Get Application Level Dashboard User List",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/db/{programId}/{versionId}": {
      "get": {
        "description": "Retrieve a dashboard summary for the load program",
        "operationId": "getDashboardForLoadProgram",
        "parameters": [
          {
            "description": "The program ID for the program to retrieve",
            "in": "path",
            "name": "programId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The version ID for the program to retrieve",
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardForLoadProgram_ReportView"
                }
              }
            },
            "description": "Returns the dashboard"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "User does not have access to the program"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "The program was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dashboard"
          }
        },
        "summary": "Get Dashboard for Load Program",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/realmLevel": {
      "get": {
        "description": "Retrieve a dashboard summary for realm-level administrators",
        "operationId": "realmLevelDashboard",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Returns the dashboard summary for realm-level administrators"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dashboard summary"
          }
        },
        "summary": "Get Realm Level Dashboard",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/realmLevel/userList": {
      "get": {
        "description": "Retrieve a list of users for realm-level administrators",
        "operationId": "realmLevelDashboardUserList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DashboardUser"
                  }
                }
              }
            },
            "description": "Returns the list of users for realm-level administrators"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the user list"
          }
        },
        "summary": "Get Realm Level Dashboard User List",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/supplyPlanBottom": {
      "post": {
        "description": "Retrieve a dashboard summary for the bottom supply plans",
        "operationId": "getDashboardBottom",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardInput_ReportView"
              }
            }
          },
          "description": "The dashboard input for the supply plans to retrieve",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardBottom_ReportView"
                }
              }
            },
            "description": "Returns the dashboard summary for supply plans bottom"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "User does not have access to the supply plans"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "The supply plans were not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dashboard summary"
          }
        },
        "summary": "Get Supply Plans (bottom)",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/supplyPlanReviewerLevel": {
      "get": {
        "description": "Retrieve a dashboard summary for supply plan reviewers",
        "operationId": "supplyPlanReviewerLevelDashboard",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Returns the dashboard summary for supply plan reviewers"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dashboard summary"
          }
        },
        "summary": "Get Supply Plan Reviewer Level Dashboard",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dashboard/supplyPlanTop": {
      "post": {
        "description": "Retrieve a dashboard summary for the top supply plans",
        "operationId": "getDashboardTop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "description": "The program IDs for the supply plans to retrieve",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DashboardTop_ReportView"
                  }
                }
              }
            },
            "description": "Returns the dashboard summary for supply plans"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "User does not have access to the supply plans"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "The supply plans were not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dashboard summary"
          }
        },
        "summary": "Get Supply Plans (top))",
        "tags": [
          "Dashboard"
        ]
      }
    },
    "/api/dataSource": {
      "get": {
        "description": "Retrieve a list of all active data sources",
        "operationId": "getDataSourceList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSource"
                  }
                }
              }
            },
            "description": "Returns the list of active data sources"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data sources"
          }
        },
        "summary": "Get Active Data Sources",
        "tags": [
          "Data Source"
        ]
      },
      "post": {
        "description": "Create a new data source",
        "operationId": "addDataSource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSource"
              }
            }
          },
          "description": "The data source to create",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to add this data source"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Unable to find the data referenced in the data source"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source with the given name already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the creation of the data source"
          }
        },
        "summary": "Add Data Source",
        "tags": [
          "Data Source"
        ]
      },
      "put": {
        "description": "Update an existing data source",
        "operationId": "editDataSource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSource"
              }
            }
          },
          "description": "The data source to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to update this data source"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source with the given name already exists"
          },
          "409": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "There was a conflict while updating the data source"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the data source"
          }
        },
        "summary": "Update Data Source",
        "tags": [
          "Data Source"
        ]
      }
    },
    "/api/dataSource/all": {
      "get": {
        "description": "Retrieve a complete list of all data sources (active and disabled)",
        "operationId": "getDataSourceListAll",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSource"
                  }
                }
              }
            },
            "description": "Returns the complete list of data sources"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data sources"
          }
        },
        "summary": "Get All Data Sources",
        "tags": [
          "Data Source"
        ]
      }
    },
    "/api/dataSource/dataSourceTypeId/{dataSourceTypeId}": {
      "get": {
        "description": "Retrieve a list of data sources for a specific data source type",
        "operationId": "getDataSourceListForDataSourceTypeId",
        "parameters": [
          {
            "description": "The ID of the data source type to retrieve data sources for",
            "in": "path",
            "name": "dataSourceTypeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSource"
                  }
                }
              }
            },
            "description": "Returns the list of data sources for the specified data source type"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to access this data source"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source with the specified data source type was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source"
          }
        },
        "summary": "Get Data Source by Type",
        "tags": [
          "Data Source"
        ]
      }
    },
    "/api/dataSource/realmId/{realmId}/programId/{programId}": {
      "get": {
        "description": "Retrieve a list of data sources for a specific realm and program",
        "operationId": "getDataSourceListForRealmIdProgramId",
        "parameters": [
          {
            "description": "The ID of the realm to retrieve data sources for",
            "in": "path",
            "name": "realmId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The ID of the program to retrieve data sources for",
            "in": "path",
            "name": "programId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSource"
                  }
                }
              }
            },
            "description": "Returns the list of data sources for the specified realm and program"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to access this data source"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source with the specified realm and program was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source"
          }
        },
        "summary": "Get Data Source for Realm and Program",
        "tags": [
          "Data Source"
        ]
      }
    },
    "/api/dataSource/{dataSourceId}": {
      "get": {
        "description": "Retrieve a data source by its ID",
        "operationId": "getDataSourcebyId",
        "parameters": [
          {
            "description": "The ID of the data source to retrieve",
            "in": "path",
            "name": "dataSourceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            },
            "description": "Returns the data source with the specified ID"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to access this data source"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source with the specified ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source"
          }
        },
        "summary": "Get Data Source",
        "tags": [
          "Data Source"
        ]
      }
    },
    "/api/dataSourceType": {
      "get": {
        "description": "Retrieve a list of all active data source types",
        "operationId": "getDataSourceTypeList",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceType"
                  }
                }
              }
            },
            "description": "Returns the list of active data source types"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source type list"
          }
        },
        "summary": "Get Active Data Source Types",
        "tags": [
          "Data Source Type"
        ]
      },
      "post": {
        "description": "Create a new data source type",
        "operationId": "addDataSourceType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceType"
              }
            }
          },
          "description": "The data source type to add",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success code"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to add this data source type"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source type with the given name already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the addition of the data source type"
          }
        },
        "summary": "Add Data Source Type",
        "tags": [
          "Data Source Type"
        ]
      },
      "put": {
        "description": "Update an existing data source type",
        "operationId": "editDataSourceType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceType"
              }
            }
          },
          "description": "The data source type to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to update this data source type"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source type with the specified ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the data source type"
          }
        },
        "summary": "Update Data Source Type",
        "tags": [
          "Data Source Type"
        ]
      }
    },
    "/api/dataSourceType/all": {
      "get": {
        "description": "Retrieve a complete list of all data source types (active and disabled)",
        "operationId": "getDataSourceTypeListAll",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceType"
                  }
                }
              }
            },
            "description": "Returns the list of all data source types"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source type list"
          }
        },
        "summary": "Get All Data Source Types",
        "tags": [
          "Data Source Type"
        ]
      }
    },
    "/api/dataSourceType/realmId/{realmId}": {
      "get": {
        "description": "Retrieve a list of data source types for a specific realm",
        "operationId": "getDataSourceTypeListForRealmId",
        "parameters": [
          {
            "description": "The ID of the realm to retrieve data source types for",
            "in": "path",
            "name": "realmId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceType"
                  }
                }
              }
            },
            "description": "Returns the list of data source types for the specified realm"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to view this data source type"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source type with the specified realm ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source type list"
          }
        },
        "summary": "Get Data Source Types by Realm",
        "tags": [
          "Data Source Type"
        ]
      }
    },
    "/api/dataSourceType/{dataSourceTypeId}": {
      "get": {
        "description": "Retrieve a data source type by its ID",
        "operationId": "getDataSourceTypeById",
        "parameters": [
          {
            "description": "The ID of the data source type to retrieve",
            "in": "path",
            "name": "dataSourceTypeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceType"
                }
              }
            },
            "description": "Returns the data source type with the specified ID"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to view this data source type"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The data source type with the specified ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the data source type"
          }
        },
        "summary": "Get Data Source Type",
        "tags": [
          "Data Source Type"
        ]
      }
    },
    "/api/dataset": {
      "get": {
        "description": "Retrieve a list of all active datasets",
        "operationId": "getDataset",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Program"
                  }
                }
              }
            },
            "description": "Returns the list of active datasets"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset list"
          }
        },
        "summary": "Get Active Datasets",
        "tags": [
          "Dataset"
        ]
      },
      "post": {
        "description": "Create a new dataset",
        "operationId": "postDataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramInitialize"
              }
            }
          },
          "description": "The dataset to create",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dataset with the given program ID already exists"
          },
          "409": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "There was a conflict while adding the dataset"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset"
          }
        },
        "summary": "Add Dataset",
        "tags": [
          "Dataset"
        ]
      },
      "put": {
        "description": "Update an existing dataset",
        "operationId": "putDataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramInitialize"
              }
            }
          },
          "description": "The dataset to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success message"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dataset with the given program ID was not found"
          },
          "409": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "There was a conflict while updating the dataset"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset"
          }
        },
        "summary": "Update Dataset",
        "tags": [
          "Dataset"
        ]
      }
    },
    "/api/dataset/versions": {
      "post": {
        "description": "Retrieve a list of dataset programs for a specific program, version type, start date and stop date",
        "operationId": "getDatasetVersionList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetVersionListInput_ReportView"
              }
            }
          },
          "description": "The input for the dataset version list",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramVersion_ReportView"
                  }
                }
              }
            },
            "description": "Returns the list of dataset versions for the specified program"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "The dataset with the given program ID already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_ReportView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset"
          }
        },
        "summary": "Get Dataset Programs",
        "tags": [
          "Dataset"
        ]
      }
    },
    "/api/dataset/{programId}": {
      "get": {
        "description": "Retrieve a dataset by its program ID",
        "operationId": "getDataset_1",
        "parameters": [
          {
            "description": "The ID of the program to retrieve a dataset for",
            "in": "path",
            "name": "programId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            },
            "description": "Returns the dataset with the specified program ID"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dataset with the given program ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset"
          }
        },
        "summary": "Get Dataset by Program",
        "tags": [
          "Dataset"
        ]
      }
    },
    "/api/datasetData": {
      "post": {
        "description": "Retrieve dataset programs for specified of program and version IDs",
        "operationId": "getDatasetData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The list of program and version IDs to retrieve dataset data for",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetData_InternalView"
                  }
                }
              }
            },
            "description": "Returns the dataset data for the specified list of program and version IDs"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "The dataset with the given program ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset data"
          }
        },
        "summary": "Get Dataset Programs",
        "tags": [
          "Dataset"
        ]
      }
    },
    "/api/datasetData/programId/{programId}/versionId/{versionId}": {
      "get": {
        "description": "Retrieve dataset data for a specific program and version ID with tree data",
        "operationId": "getDatasetData_1",
        "parameters": [
          {
            "description": "The ID of the program to retrieve dataset data for",
            "in": "path",
            "name": "programId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The ID of the version to retrieve dataset data for",
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetData_InternalView"
                }
              }
            },
            "description": "Returns the dataset data for the specified program and version ID with tree data"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "The dataset with the given program ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset data"
          }
        },
        "summary": "Get Dataset Data with Tree",
        "tags": [
          "Dataset"
        ]
      }
    },
    "/api/datasetData/programId/{programId}/versionId/{versionId}/withoutTree": {
      "get": {
        "description": "Retrieve dataset data for a specific program and version ID with or without tree data",
        "operationId": "getDatasetData_2",
        "parameters": [
          {
            "description": "The ID of the program to retrieve dataset data for",
            "in": "path",
            "name": "programId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The ID of the version to retrieve dataset data for",
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetData_InternalView"
                  }
                }
              }
            },
            "description": "Returns the dataset data for the specified program and version ID without tree data"
          },
          "403": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "The user does not have permission to access this dataset"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "The dataset with the given program ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_InternalView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dataset data"
          }
        },
        "summary": "Get Dataset Data",
        "tags": [
          "Dataset"
        ]
      }
    },
    "/api/dimension": {
      "get": {
        "description": "Retrieve a list of all active dimensions",
        "operationId": "getDimension",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dimension"
                  }
                }
              }
            },
            "description": "Returns the list of all active dimensions"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dimension list"
          }
        },
        "summary": "Get Active Dimensions",
        "tags": [
          "Dimension"
        ]
      },
      "post": {
        "description": "Create a new dimension",
        "operationId": "postDimension",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dimension"
              }
            }
          },
          "description": "The dimension to add",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success code"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dimension with the given name already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the addition of the dimension"
          }
        },
        "summary": "Add Dimension",
        "tags": [
          "Dimension"
        ]
      },
      "put": {
        "description": "Update an existing dimension",
        "operationId": "putDimension",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dimension"
              }
            }
          },
          "description": "The dimension to update",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Returns a success code"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dimension with the specified ID was not found"
          },
          "406": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dimension with the given name already exists"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the update of the dimension"
          }
        },
        "summary": "Update Dimension",
        "tags": [
          "Dimension"
        ]
      }
    },
    "/api/dimension/all": {
      "get": {
        "description": "Retrieve a complete list of all dimensions (active and disabled)",
        "operationId": "getDimensionAll",
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dimension"
                  }
                }
              }
            },
            "description": "Returns the complete list of all dimensions (active and disabled)"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dimension list"
          }
        },
        "summary": "Get Dimensions",
        "tags": [
          "Dimension"
        ]
      }
    },
    "/api/dimension/{dimensionId}": {
      "get": {
        "description": "Retrieve a dimension by its ID",
        "operationId": "getDimension_1",
        "parameters": [
          {
            "in": "path",
            "name": "dimensionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dimension"
                }
              }
            },
            "description": "Returns the dimension with the specified ID"
          },
          "404": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "The dimension with the specified ID was not found"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the dimension"
          }
        },
        "summary": "Get Dimension",
        "tags": [
          "Dimension"
        ]
      }
    },
    "/api/dropdown/budget/filter/multipleFundingSources": {
      "post": {
        "description": "Retrieve a list of budgets filtered on a list of funding sources",
        "operationId": "getBudgetDropdownFilterMultipleFundingSources",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "description": "The list of funding sources for the budget list",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleCodeObject_DropDownView"
                  }
                }
              }
            },
            "description": "Returns the list of budgets filtered on a list of funding sources"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_DropDownView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the list of budgets"
          }
        },
        "summary": "Get Budgets by Funding Sources",
        "tags": [
          "Dropdowns"
        ]
      }
    },
    "/api/dropdown/budget/program/{programId}": {
      "get": {
        "description": "Retrieve a list of budgets for a specific program",
        "operationId": "getBudgetDropdownForProgram",
        "parameters": [
          {
            "description": "The program ID for the budget list",
            "in": "path",
            "name": "programId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleCodeObject_DropDownView"
                  }
                }
              }
            },
            "description": "Returns the list of budgets for a specific program"
          },
          "500": {
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCode_DropDownView"
                }
              }
            },
            "description": "Internal error that prevented the retrieval of the list of budgets"
          }
        },
        "summary": "Get Budgets by Program",
        "tags": [
          "Dropdowns"
        ]
      }
    },
    "/api/dropdown/dataset/program/realm/{realmId}": {
      "get": {
        "description": "Retrieve a list of programs for a realm",
        "operationId": "getProgramForDropdownDataset",
        "parameters": [
          {
            "description": "The realm ID for the programs to retrieve",
            "in": "path",
            "name": "realmId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleProgram_DropDownView"
                  }
                }
              }
            },
[...]
